include LICENSE
include README.md
include CHANGELOG.md

recursive-include giggle/constants *.css *.template
recursive-include giggle/constants/images *

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store
