{#base template for the page#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/tokyo-night-dark.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
    <link href="https://fonts.googleapis.com">
    <link href="https://fonts.gstatic.com" crossorigin>

{{recipe.fonts}}

    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel= "stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title> {{recipe.title}} </title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>{{recipe["favicon"]}}</text></svg>"></link>
</head>

<body>
    <main class="container">
        {% include "navbar.jinja" %}
        {{body}}
        {% include "footer.jinja" %}
    </main>
</body>
</html>
