<footer>
    <div class="footer-bottom">
        <div class="social-links">
            <a href="https://github.com/JoyenBenitto" class="social-icon">GitHub</a>
            <a href="https://www.linkedin.com/in/joyen-benitto" class="social-icon">LinkedIn</a>
            <a href="https://twitter.com/JoyenBenitto" class="social-icon">Twitter</a>
        </div>
        <div class="copyright">
            2024 Joyen Benitto. All Rights Reserved.
        </div>
    </div>
</footer>