{# Navigation template with modern styling #}

<nav class="navbar">
    <div class="nav-content">
        <a href="./index.html" class="nav-brand">
            {{ recipe.site.title | default('My Website') }}
        </a>
        
        <ul class="nav-links">
            {% for item in recipe.navigation %}
            <li>
                <a href="{{ item.url }}" class="nav-link">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
