{#Contains the navbar tempate for the page#}


<nav class="navbar">
    <ul>
        <li><a href="./index">{{recipe.chef}}</a></li>
{%- for tags in  recipe.nav_items%}
        <li><a href="{{recipe.nav_items[tags].link}}"> {{tags}} </a></li>
{%- endfor %}
    </ul>
</nav>
