body {
    background-color: {{recipe.style.body.bg_color}};
    color: {{recipe.style.body.color}};
    font-family: "Noto Serif", serif;
    line-height: 1.5;
    font-size: 1rem;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-weight: 200;
}

main{
  background-color: {{recipe.style.main.bg_color}}
}

a {
    color: {{recipe.style.a.color}};
}

blockquote{
  border-left: 3px solid {{recipe.style.blockquote.border_color}};
  color: {{recipe.style.blockquote.color}}
}

.navbar{
  border-bottom: 1px solid {{recipe.style.navbar.color}};
  color: grey
}

.footer{
  border-top: 1px solid {{recipe.style.footer.color}};
}

.container {
  padding: 1em;
  margin: 1em;
}

.tag {
    display: inline-block;
    color: {{recipe["style"]["tag"]["color"]}};
    padding-left: .25rem;
    padding-right: .25rem;
    border-radius: .375rem;
    margin-right: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-decoration: none;
    --bg-opacity: 0;
    /* background-color: #e2e8f0; */
    background-color: rgba(226, 232, 240, var(--bg-opacity));
    --text-opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid {{recipe["style"]["tag"]["color"]}}
}

code {
    background: #efefef;
    background: var(--background);
    color: #000;
    color: var(--code);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-size: 1em;
    font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: {{recipe.style.header.color}}
}

a:after {
  content: "🡥";
}