body {
    background-color: {{recipe.style.body.bg_color}};
    color: {{recipe.style.body.color}};
    font-family: {{recipe.style.body.font_family}};
    font-optical-sizing: auto;
    font-style: normal;
}

table {
  width: 100%;
  border: {{recipe.style.table.border}}
}

main{
  background-color: {{recipe.style.main.bg_color}}
}

ul{
  padding: 0rem;
}

li{ 
  list-style: none; 
  margin-bottom: 0.25rem;
} 
   
li::before{ 
  content: "{{recipe.style.li.symbol}}";
  color: {{recipe.style.li.symbol_color}};
  padding-right: 1rem;
}


a {
    color: {{recipe.style.a.color}};
}

blockquote{
  border-left: 3px solid {{recipe.style.blockquote.border_color}};
  color: {{recipe.style.blockquote.color}};
}

.navbar{
  border-bottom: 1px solid {{recipe.style.navbar.color}};
  color: grey;
  font-family: {{recipe.style.navbar.font_family}}
}

.footer{
  border-top: 1px solid {{recipe.style.footer.color}};
}

.container {
  padding: 1em;
  margin: 1em;
}

.tag {
    display: inline-block;
    color: {{recipe["style"]["tag"]["color"]}};
    margin-bottom: {{recipe["style"]["tag"]["mb"]}}rem;
    margin-top: {{recipe["style"]["tag"]["mt"]}}rem;
    margin-right: {{recipe["style"]["tag"]["mr"]}}rem;
    margin-left: {{recipe["style"]["tag"]["ml"]}}rem;
    padding-top: {{recipe["style"]["tag"]["pt"]}}rem;
    padding-bottom: {{recipe["style"]["tag"]["pb"]}}rem;
    padding-left: {{recipe["style"]["tag"]["pl"]}}rem;
    padding-right: {{recipe["style"]["tag"]["pr"]}}rem;
    border-radius: .375rem;
    margin-right: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-decoration: none;
    --bg-opacity: 0;
    /* background-color: #e2e8f0; */
    background-color: rgba(226, 232, 240, var(--bg-opacity));
    --text-opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid {{recipe["style"]["tag"]["color"]}}
}

code {
    background: #efefef;
    background: var(--background);
    color: #000;
    color: var(--code);
    padding: 2.5px 5px;
    border-radius: 6px;
    font-size: 1em;
    font-family: monospace;
}

h1{
  color: {{recipe.style.h1.color}};
  font-family: {{recipe.style.h1.font_family}}
  font-weight: {{recipe.style.h1.font_weight}};
  font-style: {{recipe.style.h1.font_style}};
}

h2{
  color: {{recipe.style.h2.color}};
  font-family: {{recipe.style.h2.font_family}}
  font-weight: {{recipe.style.h2.font_weight}};
  font-style: {{recipe.style.h2.font_style}};
}

h3{
  color: {{recipe.style.h3.color}};
  font-family: {{recipe.style.h3.font_family}}
  font-weight: {{recipe.style.h3.font_weight}};
  font-style: {{recipe.style.h3.font_style}};
}

h4{
  color: {{recipe.style.h4.color}};
  font-family: {{recipe.style.h4.font_family}}
  font-weight: {{recipe.style.h4.font_weight}};
  font-style: {{recipe.style.h4.font_style}};
}

h5{
  color: {{recipe.style.h5.color}};
  font-family: {{recipe.style.h5.font_family}}
  font-weight: {{recipe.style.h5.font_weight}};
  font-style: {{recipe.style.h5.font_style}};
}

h6{  
  color: {{recipe.style.h6.color}};
  font-family: {{recipe.style.h6.font_family}}
  font-weight: {{recipe.style.h6.font_weight}};
  font-style: {{recipe.style.h6.font_style}};
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code{
    color: {{recipe["style"]["tag"]["color"]}};
    margin-bottom: {{recipe["style"]["tag"]["mb"]}}rem;
    margin-top: {{recipe["style"]["tag"]["mt"]}}rem;
    margin-right: {{recipe["style"]["tag"]["mr"]}}rem;
    margin-left: {{recipe["style"]["tag"]["ml"]}}rem;
    border-radius: .375rem;
    margin-right: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    text-decoration: none;
    --bg-opacity: 0;
    /* background-color: #e2e8f0; */
    background-color: rgba(226, 232, 240, var(--bg-opacity));
    --text-opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid {{recipe["style"]["tag"]["color"]}}
}

.blog_headings{
  text-align: center;
}